@font-face {
	font-family: 'Poppins_Medium';
	src: url('../fonts/Poppins-Medium.ttf')
}
@font-face {
	font-family: 'Poppins_Light';
	src: url('../fonts/Poppins-Light.ttf')
}
@font-face {
	font-family: 'Poppins_Bold';
	src: url('../fonts/Poppins-Bold.ttf')
}

body{
	font-family: Poppins_Medium, sans-serif;
	color: rgba(0,0,0,.55);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

p {
	font-family: Poppins_Light, sans-serif;

}

.bold{
	font-family: Poppins_Bold, sans-serif;
}

.light{
	font-family: Poppins_Light, sans-serif;
}

.navback{
	padding: 0px;
	font-size: 1.4em;
	font-family: Poppins_Bold, sans-serif;
	background-color: #b6d0e2;
	transition: all 0.6s ease;
}

.logo{
	height: 56px;
	width: 270px;
}

#footer{
	background-color: #b6d0e2;
	padding-top: 100px;
	padding-bottom: 20px;
}

.abhay{
	cursor: pointer;
	color: black;
}

.landing{
	min-height: 50vh;
}

#home{
	background-color: #b6d0e2;
}

.padded{
	padding-top: 100px;
	padding-bottom: 50px;
}

.text-padded{
	padding: 20px;
}

.center{
	display: block;
	margin: 0 auto;
}

.flex-center{
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}

.text-center{
	text-align: center;
}

p {
	text-align: justify;
}

.navback-scrolled{
	box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
	background-color: #fff;
}

.social{
	cursor: pointer;
	text-decoration: none;
	color: rgba(0,0,0,.55);
	transition: 0.6s ease;
}

.icon{
	font-size: 1.6em;
	margin: 5px;
}

a.social:hover {
	transform: scale(1.1);
}

.carousel-item img {
	height: 400px;
	width: 800px;
	object-fit: contain;
	object-position: center;
}


[data-inviewport = "fade-in"] { 
	transition: 1s ease;
	opacity: 0.1;
}
[data-inviewport = "fade-in"].is-inViewport { 
	opacity: 1;
}

@media only screen and (max-width: 600px) and (orientation: portrait){
	.landing{
		min-height: 75vh;
	}
}

@keyframes growandappear {
  from {opacity: 0; transform: scale(0.7);}
  to {opacity: 1; transform: scale(1.0);}
}