.cards {
  height: 320px;
  background-color: transparent;
  perspective: 1000px;
  margin: 30px;
}

#main{
  background-color: #f4f7fa;
}

.row{
  justify-content: center;
  padding: 20px;
}

.cards img{
  height: 250px;
  width: 80%;
  padding: 30px;
  object-fit: contain;
  object-position: center;
}

.cards h4{
  padding-bottom: 20px;
}

.flip-card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.inner-card{
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px rgb(81 94 125 / 8%);
  transition: 0.6s;
  text-align: center;
  cursor: pointer;
  background-color: #fcfcfc;
  border-radius: 1rem;
  transform-style: preserve-3d;
}

.cards:hover .inner-card{
  transform: rotateY(180deg);
}

.row .cards{
  animation: growandappear 0.4s ease;
}